<h1>Sign up</h1>
<center><h4>(Users must be over 21 years old.)</h4></center>
<%= form_for(resource, as: resource_name, url: registration_path(resource)) do |f| %> 
  <%= render "devise/shared/error_messages", resource: resource %> 
  <div class="field">
  <h3><%= f.label :username %><br /></h3>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => "form-control" %>
  </div>
  <div class="field">
    <h3><%= f.label :email %><br /></h3>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
  </div>

  <div class="field">
  <h3><%= f.label :password %></h3>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
  </div>

  <div class="field">
    <h3><%= f.label :password_confirmation %><br /></h3>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
  </div>

  <div class="actions">
  <h3><%= f.submit "Sign up" %></h3>
  </div>
<% end %> 


<h3><%= render "devise/shared/links" %></h3>
