<h1>Sign up with an email and password to begin browsing cocktail recipes:</h1> 

 
<%= form_for(@user) do |f| %>
  <label>Email:</label><br>
  <%= f.text_field :email %><br> 

  <label>Username:</label><br>
  <%= f.text_field :username %><br> 

 
  <label>Password:</label><br>
  <%= f.text_area :password %><br> 

  <label>Password Confirmation:</label><br>
  <%= f.text_area :password_confirmation %><br>
 
  <%= f.submit %> 
<% end %> 


<h3><%= link_to "View All Recipes", cocktail_recipes_path%></h3> 
<h3><%= link_to "View All Cocktail Recipe Categories", categories_path%></h3>  


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>