<center>
<h1>Ingredient: <%=@ingredient.name%></h1> 

<h3><%= pluralize(@ingredient.cocktail_recipes.count, 'Cocktail Recipe') %> with this Ingredient:</h3>

<% @ingredient.cocktail_recipes.each do |c|%>
    <li><h3><%=link_to c.title, cocktail_recipe_url(c)%></h3></li> 
    <%= image_tag c.avatar.url(:medium)%><br>
    <small><%= c.description %></small>
    <%end%> 
    </center>