
<%= form_for(@cocktail_recipe) do |f| %>
   
    <h3><%= f.label :title %></h3>
    <p><%= f.text_field :title, :class => "form-control"%></p> 

    <h3><%= f.label :category %></h3>
    <p><%= f.text_field :category_name, list: "categories_autocomplete", :class => "form-control" %>
  <datalist id="categories_autocomplete">
    <% Category.all.each do |category| %>
      <option value="<%= category.name %>">
    <% end %></p>
  </datalist>
    
    <h3><%= f.label :description %></h3>
    <p><%= f.text_area :description, :class => "form-control" %> </p> 
    
    <%= f.hidden_field :user_id %>

    <h3><%= f.label :ingredients %></h3>
   
        <%= f.fields_for :recipe_ingredients, @ingredients do |recipe_ingredient| %>
    
          <center><h5>Quantity:<%= recipe_ingredient.text_field :quantity %>
  
    Select Ingredient: <%=recipe_ingredient.collection_select :ingredient_id, Ingredient.all, :id, :name, include_blank: 'Select Ingredient' %>

    <%= recipe_ingredient.fields_for :ingredient, @cocktail_recipe.ingredients.build do |ingredient| %> 

      Or Create New Ingredient: <%= ingredient.text_field :name %>
    <% end %></br></h5>
      </center>
    <% end %>  
    

    
      

      <h3><%= f.label :directions %></h3>
      <p><%= f.text_area :directions, :class => "form-control" %></p></br>
       
  

    <h3><%= f.submit %></h3> 

  <% end %> 

  