<h1> Edit a Coktail Recipe!:</h1>

<%= form_for(@cocktail_recipe) do |f| %>
   
    <label>Title:</label><br>
    <p><%= f.text_field :title %></p>
    
    <label>Description:</label><br>
    <p><%= f.text_field :description %> </p>
    
    <label>Directions:</label><br>
    <p><%= f.text_field :directions %></p>
     

    <label>Category id:</label><br>
    <%= f.text_field :category_id %><br>
  
    <label>User id:</label><br>
    <%= f.text_field :user_id %><br> 

    <p><%= f.submit %></p>
  <% end %>