
 <div class="jumbotron button-style"> 
 
  <h1>Cocktails:</h1><br> 

  <h3>Search For Cocktails By Title:</h3>

  <%= form_tag(cocktail_recipes_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Cocktails", :class => "form-control" %></br>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  <hr class="my-4">

  <h3>Filter Cocktails By User:</h3>
  <%= form_tag("/cocktail_recipes", method: "get") do %>
    <%= select_tag "user", options_from_collection_for_select(User.all, "id", "username"), include_blank: true, :class => "form-control" %></br>
    <%= submit_tag "Filter" %>
  <% end %>

</div>



<center>

  <h3><ul><%=@cocktail_recipes.count%> Total Cocktails: </ul></h3> 

  <%= render partial: "cocktails", locals: {cocktail_recipes: @cocktail_recipes} %>

</center> 
