<% if !params[:user].blank? %>
  <% @cocktail_recipes = CocktailRecipe.where(user: params[:user]) %>
<% end %>


<h1> All Cocktail Recipes:</h1> 

<div>
  <h3>Filter Recipes:</h3>
  <%= form_tag("/cocktail_recipes", method: "get") do %>
    <%= select_tag "user", options_from_collection_for_select(User.all, "id", "username"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

   
    <% @cocktail_recipes.each do |cocktail_recipe| %> 

        
        <h3><%= link_to cocktail_recipe.title, cocktail_recipe_path(cocktail_recipe)%></h3> 
        <h4>Category: <%= link_to cocktail_recipe.category.name, category_path(cocktail_recipe.category) if cocktail_recipe.category %></h4>
        <h4>Description: <%= cocktail_recipe.description %></h4>  
        <small><%= last_updated cocktail_recipe %></small>
        

    <% end %>