
<h1><%= @cocktail_recipe.title %></h1> 

<center><h5><%= @cocktail_recipe.description %></h5></center> 

<h3>Ingredients:</h3>  
    <h3><% @cocktail_recipe.ingredients.each do |i| %></h3> 
        <li>
           <h4><%= i.name %></h4>
        </li>
    <%end%> 

<h3>Directions: <%= @cocktail_recipe.directions %></h3>
  
<h3>Types of Alcohol Involved:</h3> 
<p><% @cocktail_recipe.alcohol_types.each do |i| %></p> 
    <ul>
    <h4><%= i.name %></h4> 
    </ul>
    <%end%> 
    
<h3>Category: <%= link_to @cocktail_recipe.category.name, category_path(@cocktail_recipe.category) if @cocktail_recipe.category %></h3>

<p><%= last_updated @cocktail_recipe%></p> 
<small>Originally By: <%=@cocktail_recipe.user.username%></small> 

<h3><%= button_to "Edit This Recipe", edit_cocktail_recipe_path(@cocktail_recipe)%></h3> 
<h3><%= button_to "Delete", @cocktail_recipes_path, method: :delete%></h3>
