<div class="jumbotron button-style"> 
  <h1>Categories:</h1><br> 

  <h3>Search for Category:</h3>


  <%= form_tag(categories_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Categories", :class => "form-control" %></br>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

  <hr class="my-4">
  <% @categories.each do |category| %>
    <h2><%= link_to category.name, category_path(category)%></h2> 
    <h4><%= pluralize(category.cocktail_recipes.count, 'Cocktail')%></h4>
  <hr class="my-4">
  <% end %> 
   
</div>