<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>The Cantina</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    
    <style> 

    body { 
      background-image: url(/assets/bartender.jpg); 
      background-attachment:fixed;
      background-size:cover; 
      
      padding-top: 90px; 
    } 

    .starter-template {
      padding: 100px 15px;
    }

    h1 {
      text-align: center; 


    } 

    .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; }

    

    </style> 

  
 
   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <strong><a class="navbar-brand" href="/">The Cantina</a></strong>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          <li class="active">The Cantina</li>
            
            <%unless user_signed_in?%> 
            <li><%= link_to new_user_session_path, :class => "glyphicon glyphicon-log-in" do %>
              <strong>Login</strong> 
            <% end %></li>
            <li><%= link_to new_user_registration_path, :class => "glyphicon glyphicon-user" do %>
              <strong>SignUp</strong>
            <% end %></li>
            <%end%> 
            <%if user_signed_in?%> 
            <li><%= link_to('All Recipes', cocktail_recipes_path)%></li> 
            <li><%= link_to('Categories', categories_path)%></li> 
            <li><%= link_to('Create a Cocktail Recipe', new_cocktail_recipe_path) %></li> 
            <li><%= link_to('Ingredients', ingredients_path)%></li> 
            <li><%= link_to "Profile Page", current_user %></li> 
            <%end%> 
            
           
          </ul>
        </div> 

     

          
        </div><!--/.nav-collapse -->
      </div>
    </nav> 

    

    <div class="container">

      <div class="starter-template">
      
      
    
      <div class="jumbotron">
    

        <%= yield %> 
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> 


        
        <center><h2><%= button_to('Logout', destroy_user_session_path, method: :delete) if user_signed_in? %></h2></center>
        
    

        
        </div>
      </div> 

    </div><!-- /.container -->


   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
 
  