<!DOCTYPE html>
<html>
  <head>
  <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 

 
  <nav> 
  <% if user_signed_in? %>  
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
  <%= link_to('View all Cocktail Recipes', cocktail_recipes_path)%> 
  <%= link_to('View all Cocktail Recipes by Categories', categories_path) %>
  <%= link_to('Create a Cocktail Recipe', new_cocktail_recipe_path) %> 
  <%= link_to('Your Profile Page', user_path) %>
  
  </nav> 
  
<% end %> 

  <body>
    <%= yield %> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
